<section class="section bg-grey">
        <section id="overview" class="grid-hero container grid-960">
            <header class="text-center"><h3>Wireless Robot</h3></header>
            <section>
                <p>The <strong>Wireless Robot</strong> project was conducted by Alexandru-Florin Tudoran</p>
				<p style="color:#606"><strong>Robert Gordon University</strong></p>
				<p><strong>Electrical and Electronical Engineering</strong></p>
                <p><strong>Student name:</strong> Alexandru-Florin Tudoran |
				<a href="https://www.facebook.com/AlexandruTudoran" target="_blank">Facebook</a> | alexandru.tudoran17@gmail.com
				</p>
				<p><strong>Student ID:</strong> 1507715</p>
				<p><strong>Supervisor:</strong> Yafan Zhao</p>


            </section>

		</section>
</section>
