<section class="section bg-grey">
        <section id="overview" class="grid-hero container grid-960">
            <header class="text-center"><h3>Wireless Robot</h3></header>
            <section>
                <p>
The aim of this project is to develop a microcontroller-based robotic vehicle which can be controlled using a browser. The microcontroller will use Wi-Fi to communicate with the local network. Once the basic communication and control is established, the software will be extended to use more sophisticated methods of user interaction. Topics: embedded hardware and software development
				</p>
				<div class="columns">
                <div class="column col-4 col-xs-12">
                    <div class="card">
                        <div class="card-image">
                            <img class="img-responsive" src="demo/img/osx-el-capitan.jpg">
                        </div>
                        <div class="card-header">
                            <h4 class="card-title">Microsoft</h4>
                            <h6 class="card-meta">Software and hardware</h6>
                        </div>
                        <div class="card-body">
                            Empower every person and every organization on the planet to achieve more.
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Do</a>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Apple</h4>
                            <h6 class="card-meta">Hardware and software</h6>
                        </div>
                        <div class="card-image">
                            <img class="img-responsive" src="demo/img/osx-yosemite.jpg">
                        </div>
                        <div class="card-body">
                            To make a contribution to the world by making tools for the mind that advance humankind.
                        </div>
                        <div class="card-footer">
                            <div class="btn-group btn-group-block">
                                <button class="btn btn-primary">Buy</button>
                                <button class="btn">Buy</button>
                                <button class="btn">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Google</h4>
                            <h6 class="card-meta">Software and hardware</h6>
                        </div>
                        <div class="card-body">
                            Organize the world’s information and make it universally accessible and useful.
                        </div>
                        <div class="card-image">
                            <img class="img-responsive" src="demo/img/osx-yosemite-2.jpg">
                        </div>
                    </div>
                </div>
            </div>
            </section>

		</section>
</section>
