<section class="section bg-grey">
        <section id="overview" class="grid-hero container grid-960">
            <header class="text-center"><h3>Wireless Robot</h3></header>
            <section>
				<!-- unordered list -->
				<ul>
					<li>Creating the web application
						<ul>
							<li>Creating the design of the web page</li>
							<li>Creating the web server</li>
							<li>Creating the communication between the web client and the web server</li>
						</ul>
					</li>
					<li>Building the necessary hardware
						<ul>
							<li>Selecting the proper microcontroller</li>
							<li>Selecting the proper wifi board </li>
							<li>Selecting the poper motor controller</li>
							<li>Selecting the necessary vehicle parts</li>
							<li>Selecting the rest of the pieces required</li>
							<li>Building everything in one-working piece</li>
						</ul>
					</li>
					<li>Building the necessary sofware
						<ul>
							<li>Updating the wifi board</li>
							<li>Building the connection between the wifi board and the microcontroller</li>
							<li>Building the connection between the motor controller and the microcontroller</li>
							<li>Building the connection between the microcontroller and web server</li>
							<li>Building the necessary scripts for the web application</li>
							<li>Building the necessary software to pass the data between the microcontroller and the web server</li>
						</ul>
					</li>
					<li>Testing if everything works as intended</li>
					<li>Trying to fix and improve the current result</li>
				</ul>

            </section>
		</section>
</section>
