<!DOCTYPE html>
<html>
<head>
	<title> Documentation </title>
	<link rel="stylesheet" href="/css/style2.css">
</head>


<body>

<% include partials/template/headerRobot.ejs %>
<% include partials/content/documentationContent.ejs %>
<% include partials/template/uselesstemplate.ejs %>
<% include partials/template/footerRobot.ejs %>

    <script src="/js/pixgrid.js"></script>
    <script src="/reload/reload.js"></script>
		
</body>
</html>
