<footer class="bg-grey">
        <section id="copyright" class="grid-footer container grid-960">
            <p>
                <a href="https://www.facebook.com/AlexandruTudoran" target="_blank">Contact</a> | Alexandru-Florin Tudoran
            </p>
            <p>Inspired from <a href="https://picturepan2.github.io/spectre/" target="_blank">Spectre.css</a></p>
        </section>
    </footer>
