<section class="notes text-center">
    <div class="btn-group">
      <a href="/" class="btn btn-primary">Welcome</a>
      <a href="/details" class="btn btn-primary">Details</a>
      <a href="/controller" class="btn btn-primary">Controller</a>
      <a href="/documentation" class="btn btn-primary">Documentation</a>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </div>
</section>
</section>
