<section class="section bg-grey">
        <section id="overview" class="grid-hero container grid-960">
            <header class="text-center"><h3>Wireless Robot</h3></header>
            <section>
                <p><strong>Wireless Robot</strong> is a project for faculty of Electrical and Electronical Engineering.</p>
                <ul>
                    <li>designed to control a vehicle prototype wirelessly</li>
                    <li>controlled by a microcontroller</li>
                    <li>wireless communication between the microcontroller and the web application</li>
                    <li>pass data from different sensors</li>
                    <li><span class="label label-primary">entire work explained in detail</span></li>
                </ul>
            </section>

		</section>
</section>
