<section id="components" class="container grid-960">
            <section class="notes text-center">
                <ul class="tab inline-flex">
                    <li class="tab-item">
                        <a href="#elements">
                            home
                        </a>
                    </li>
                    <li class="tab-item">
                        <a href="#layout">
                            contact
                        </a>
                    </li>
                    <li class="tab-item active">
                        <a href="#components">
                            demos
                        </a>
                    </li>
                    <li class="tab-item">
                        <a href="#utilities">
                            utilities
                        </a>
                    </li>
                </ul>
            </section>
        </section>
